@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #0d0221 0%, #1b0033 100%);
  display: flex;
  justify-content: center;
  /* alinha no eixo horizontal */
  align-items: center;
  /* ou center se quiser no meio da tela */
  height: 100vh;
  height: 100dvh;
  /* garante altura total da tela */
  /* espaçamento do topo */
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  background: linear-gradient(
    135deg,
    rgb(255, 47, 188) 10%,
    hsl(265, 80%, 19%) 80%
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 0 40px #ff2fbc55;
  border-radius: 0.5rem;

  width: 90%;
  max-width: 690px;

  height: 95vh;
  max-height: 990px;

  overflow-y: auto;
  /* Esconde scrollbar nos navegadores modernos */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
}

.hero::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari e Opera */
}

.header {
  position: fixed;
  top: 2rem;
  z-index: 10;

  background-color: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 4px 1.87rem rgba(0, 0, 0, 0.25);

  display: flex;
  border-radius: 10px;

  width: 85%;
  max-width: 690px;

  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.menu a {
  color: #425681;
  font-weight: 400;
  /* ou até 700 */
  letter-spacing: 0.5px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: opacity 0.2s;
}

.menu a:hover {
  opacity: 0.8;
  text-decoration: none;
  /* deixa um pouco transparente */
}

.titulo {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.titulo h1 {
  color: #f7f3ff;
  font-size: 1.7rem;
  letter-spacing: 3px;
  transform: scaleY(1.2);
  /* aumenta 20% na vertical */
  display: inline-block;
  /* precisa disso pra funcionar direito */
  text-align: center;
}

.titulo h2 {
  color: #425681;
  font-size: 0.9rem;
  letter-spacing: 2px;
  transform: scaleY(1.7);
  /* aumenta 20% na vertical */
  text-align: center;
  /* precisa disso pra funcionar direito */
  margin-top: 0.4rem;
  padding-bottom: 0.3rem;
}

.titulo h2::after {
  content: '';
  display: block;
  width: 90px;
  height: 3px;
  background: #ff2fbc;
  margin-top: 2px;
}

.txt-img {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.txt-img p {
  color: #f7f3ff;
  font-size: 0.9rem;
  margin-top: 1.5rem;
  letter-spacing: 2px;
  transform: scaleY(1.1);
  text-align: justify;
  padding: 0 1rem;
}

.cursos {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1rem;
}

.cursos h2 {
  color: #f7f3ff;
  font-size: 0.95rem;
  font-weight: 200;
  letter-spacing: 1.3px;
  text-align: left;
}

h2 a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

h2 a:hover {
  text-decoration: underline;
}

.linha {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.numero {
  border: 2px solid #425681;
  border-radius: 50%;
  padding: 0.5rem;
  width: 1.7rem;
  height: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background-color: #f0f0f0;
  color: #425681;
}

.sobre h1,
.projetos h1,
.contato-page h1 {
  color: #f7f3ff;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 3rem;
  padding: 1rem;
  letter-spacing: 1px;
  transform: scaleY(1.2);
}

.sobre h2,
.projetos h2,
.contato-page h2 {
  color: #f7f3ff;
  font-size: 1rem;
  text-align: left;
  padding: 1rem;
  letter-spacing: 1px;
  transform: scaleY(1.1);
}

.sobre p,
.projetos p,
.contato-page p {
  color: #f7f3ff;
  font-size: 0.8rem;
  text-align: justify;
  padding: 0 1rem;
  margin-top: 0.5rem;
  letter-spacing: 1px;
}

.sobre a,
.projetos a,
.contato-page a {
  color: #425681;
  background-color: white;
  border-radius: 0.7rem;
  font-size: 0.8rem;
  text-decoration: none;
  padding: 0.3rem;
  transition: color 0.2s ease;
}

.sobre a:hover,
.projetos a:hover,
.contato-page a:hover {
  background-color: transparent;
  border: 1px solid white;
  color: #7689b1;
}

.sobre #site:hover,
.projetos #site:hover,
.contato-page #site:hover {
  border: 1.5px solid green;
}

.sobre ul,
.projetos ul,
.contato-page ul {
  color: #f7f3ff;
  font-size: 0.8rem;
  padding-left: 1.5rem;
  letter-spacing: 1px;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.sobre li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.1rem;
}

.skill {
  background-color: #2b0a59;
  border: 2px solid white;
  border-radius: 2px;
  height: 10px;
  width: 100px;
  overflow: hidden;
  display: flex;
  margin-right: 1rem;
}

.percentual {
  height: 100%;
  transition: width 0.5s ease-in-out;
  border-radius: 2px;
}

.redes-sociais {
  margin-top: 3rem;
  margin-left: 1.5rem;
  gap: 5rem;
}

.rede img {
  width: 3rem;
  height: 3rem;
}

.rede {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.insta img {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.4rem;
}

.rede a {
  all: unset;
  cursor: pointer;
  display: inline-block;
}

.rede a:focus,
.rede a:active {
  outline: none;
  border: none;
  box-shadow: none;
}

/* RESPONSIVIDADE */
/* Celulares a partir de width: 390px */
@media (min-width: 390px) {
  .menu a {
    font-size: 0.95rem;
  }
  .titulo {
    margin-top: 5rem;
  }
  .titulo h1 {
    font-size: 2rem;
  }
  .titulo h2 {
    font-size: 1.1rem;
  }
  .titulo h2::after {
    margin-top: 4px;
  }
  .txt-img p {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  .cursos {
    margin-top: 4rem;
    gap: 1rem;
  }
}
/* Celulares a partir de width: 411px */
@media (min-width: 411px) {
  .sobre h1,
  .projetos h1,
  .contato-page h1 {
    margin-top: 4rem;
  }
  .txt-img p {
    margin-top: 1.5rem;
  }
  .cursos {
    margin-top: 1.5rem;
  }
}
/* Celulares a partir de width: 430px */
@media (min-width: 430px) {
  .menu a {
    font-size: 1.05rem;
  }
  .txt-img {
    margin-top: 2rem;
    gap: 2rem;
  }
  
  .cursos {
    margin-top: 4rem;
  }
}
/* Tablet em pé a partir de width: 768px */
@media (min-width: 768px) {
  .hero {
    max-width: 780px;
  }
  .menu a {
    font-size: 1.2rem;
  }
  .titulo {
    padding: 2rem;
  }
  .titulo h1 {
    display: block;
    font-size: 3rem;
  }
  .titulo h2 {
    display: block;
    font-size: 1.7rem;
  }
  .titulo h2::after {
    display: block;
    width: 9rem;
    height: 0.25rem;
    margin-top: 0;
  }
  .txt-img {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
  }
  .txt-img p {
    font-size: 1.5rem;
    max-width: 60%;
    text-align: left;
  }
  .tecno {
    display: flex;
    max-width: 45%;
    margin: 0;
  }
  .cursos {
    margin-top: 6rem;
    gap: 2rem;
  }
  .cursos h2 {
    font-size: 1.8rem;
  }
  .numero {
    width: 50px;
    height: 50px;
  }
  .linha {
    gap: 2rem;
  }
  .sobre h1,
  .projetos h1,
  .contato-page h1 {
    font-size: 1.7rem;
  }
  .sobre h2,
  .projetos h2,
  .contato-page h2 {
    font-size: 1.4rem;
  }
  .sobre p,
  .projetos p,
  .contato-page p {
    font-size: 1.2rem;
  }
  .sobre ul,
  .projetos ul,
  .contato-page ul {
    font-size: 1.1rem;
  }
  .sobre,
  .projetos,
  .contato-page {
    padding-inline: 5rem;
  }
}

/* Tablet em deitado a partir de width: 1024px */
@media (min-width: 1024px) {
  .txt-img {
    margin-top: 0;
    padding: 0;
  }
  .cursos {
    padding-left: 1rem;
    margin-top: 0.3rem;
    gap: 0.7rem;
  }
  /* Ajustar a section cursos */
  .cursos h2 {
    font-size: 1.5rem;
  }
  /* ajustar hero */
  .hero {
    max-width: 920px;
  }
}
@media (min-width: 1366px) {
  .hero {
    max-width: 1250px;
  }
  .txt-img {
    gap: 5rem;
  }
  .txt-img p {
    max-width: 45%;
  }
  .tecno {
    max-width: 25%;
  }
  .cursos {
    padding-left: 3rem;
  }
}
